<a href="https://colab.research.google.com/github/krmonline/Sentiment-Analysis-in-Social-Networks/blob/master/FacebookPageAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install facebook-sdk

Collecting facebook-sdk
  Downloading https://files.pythonhosted.org/packages/79/d7/4cb0f5930f79205cc45db22e17fa716396d813c3d6b8d5de77783a5fa59a/facebook_sdk-3.1.0-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from facebook-sdk) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (2.9)
Installing collected packages: facebook-sdk
Successfully installed facebook-sdk-3.1.0

In [0]:
import facebook
import json
import pandas as pd

In [0]:
graph = facebook.GraphAPI(access_token="EAADf23dcOQgBALfp8KWeZBJEcdHikkRWSv6Wxn18vuA0uwrDc39kEvlxRbH6IBmngNJnCqWFDfdafvFQY4ZCloW8oVPVgoZBC8aJKOLZBRlgbbDZB0uqwwAzM1ikHWX2w7YEcdMpLkSiVHs6O8LEwieq3ZAOyJ5opoAzBjKVtmWTZAC57hiIkAFXSDyJ69s69zTlze7QnXo5AZDZD")

In [7]:
loop_count = 0
df_comments = pd.DataFrame(columns=['id','from','message'])
df = pd.DataFrame(columns=['id','created_time','message','comments'])
js = graph.get_object(id='softnixtech/posts',fields='message,story,created_time,id,comments')
countloop = 0
while('paging' in js):
  countloop = countloop + 1
  if countloop > 5:
    break
  loop_count = loop_count+1
  print(loop_count,end=" ")
  if 'next' in js['paging']:
    arr_page = {}
    for kv in js['paging']['next'].split("?")[1].split("&"):
      k,v = kv.split("=")
      arr_page[k] = v
    after = arr_page['after']
    js = graph.get_object(id='softnixtech/posts',fields='message,story,created_time,id,comments',after=after)
    dftmp = pd.DataFrame(js['data'],columns=['id','created_time','message','comments'])

    df = pd.concat([df,dftmp],ignore_index=True)
df

1 2 3 4 5

                                 id  ...                                           comments
0      162423635476_441168406599447  ...                                                NaN
1    162423635476_10157768232795477  ...                                                NaN
2     162423635476_2627961090614054  ...                                                NaN
3    162423635476_10157763031545477  ...                                                NaN
4    162423635476_10157760612950477  ...  {'data': [{'created_time': '2019-11-26T12:48:4...
..                              ...  ...                                                ...
120  162423635476_10156644130255477  ...                                                NaN
121  162423635476_10156643881250477  ...                                                NaN
122  162423635476_10156632456500477  ...                                                NaN
123  162423635476_10156630341570477  ...  {'data': [{'created_time': '2018-09-05T10:47:0...
124  162423635476_10156630012890477  ...                                                NaN

[125 rows x 4 columns]

In [0]:
def getMIDfromDF(x):
  return x.split('_')[1]

In [0]:
df['mid'] = df.id.apply(getMIDfromDF)

In [0]:
if len(df[df.comments.isna() == False]) > 0:
  for i in  df[df.comments.isna() == False].comments.values:
    text = i['data']
    dftmp_comments = pd.DataFrame(i['data'],columns=['id','from','message'])
    df_comments = pd.concat([df_comments,dftmp_comments],ignore_index=True)

In [11]:
df_comments

                                     id  ...                                            message
0   10157760612950477_10157760628495477  ...                            มีให้ฟังย้อนหลังไหมครับ
1   10157716613265477_10157717656375477  ...
2   10157578214210477_10157579595310477  ...                                          เยี่ยมมาก
3       760219634397284_760237327728848  ...                    ใครมีคำถามสามารถฝากมาได้เลยครับ
4       760219634397284_760257901060124  ...  อยากทราบตัวอย่าง used cases ต่าง ๆ ของ anomaly...
..                                  ...  ...                                                ...
64    2116637725047263_2116639891713713  ...                                                  😍
65    2116637725047263_2126147057429663  ...                                                  👍
66    2116637725047263_2116646745046361  ...                                       เสียงขาดครับ
67    2116637725047263_2119988848045484  ...                                             ทักทาย
68  10156630341570477_10156630346600477  ...  SE ประจำที่นี้หรือเปล่าครับ\n\nสำนักงานใหญ่ 73...

[69 rows x 3 columns]

In [0]:
def getMID(x):
  return x.split('_')[0]
def getCID(x):
  return x.split('_')[1]
def getUserComment(x):
  if x != "":
    return str(x['name'])
  return ""

In [0]:
df_comments['mid'] = df_comments.id.apply(getMID)
df_comments['cid'] = df_comments.id.apply(getCID)
#df_comments['cname'] = df_comments['from'].apply(getUserComment)

In [0]:
df_result = pd.merge(df_comments,
                 df[['id','created_time','message','mid']],
                 on='mid', 
                 how='left')

In [25]:
df_result

                                   id_x  ...                                          message_y
0   10157760612950477_10157760628495477  ...  ผ่านไปแล้วกับงาน CDIC 2019 วันแรก พรุ่งนี้ยังม...
1   10157716613265477_10157717656375477  ...  งานสัมมนา Show Khong Day on Stage เช้านี้มาอัป...
2   10157578214210477_10157579595310477  ...  Softnix เรามีโครงการสำหรับนักศึกษาฝึกงาน เรามี...
3       760219634397284_760237327728848  ...             "โชว์ของเดย์" เรื่อง Anomaly Detection
4       760219634397284_760257901060124  ...             "โชว์ของเดย์" เรื่อง Anomaly Detection
..                                  ...  ...                                                ...
64    2116637725047263_2116639891713713  ...  Data Governance กับ โครงการ Big Data มันสำคัญอ...
65    2116637725047263_2126147057429663  ...  Data Governance กับ โครงการ Big Data มันสำคัญอ...
66    2116637725047263_2116646745046361  ...  Data Governance กับ โครงการ Big Data มันสำคัญอ...
67    2116637725047263_2119988848045484  ...  Data Governance กับ โครงการ Big Data มันสำคัญอ...
68  10156630341570477_10156630346600477  ...  ขอแจ้งประชาสัมพันธ์ข่าวการรับสมัครงานสำหรับแฟน...

[69 rows x 8 columns]

In [0]:
df_result.drop(['from'],axis=1).to_csv('./result.csv')

In [28]:
!pip install pythainlp==1.7

Collecting pythainlp==1.7
  Downloading https://files.pythonhosted.org/packages/5a/6a/7475103451ea5c9f2bbfacc64a94bb769abce6323bae55558c1043f24520/pythainlp-1.7.0-py3-none-any.whl (10.3MB)
     |████████████████████████████████| 10.3MB 2.7MB/s
Collecting marisa-trie
  Downloading https://files.pythonhosted.org/packages/20/95/d23071d0992dabcb61c948fb118a90683193befc88c23e745b050a29e7db/marisa-trie-0.7.5.tar.gz (270kB)
     |████████████████████████████████| 276kB 43.8MB/s
Requirement already satisfied: dill in /usr/local/lib/python3.6/dist-packages (from pythainlp==1.7) (0.3.1.1)
Collecting tinydb
  Downloading https://files.pythonhosted.org/packages/b6/f6/b3e112addc8eb4a097f158124ce8b206767361a381f80c5f0c506d855e4a/tinydb-4.1.1-py3-none-any.whl
Collecting conllu
  Downloading https://files.pythonhosted.org/packages/66/0b/a8863b5c14aee200a13a0f8c28550fd0132e947ae88441c9f517eb84613b/conllu-3.0-py2.py3-none-any.whl
Requirement already satisfied: nltk>=3.2.2 in /usr/local/lib/python3.6/dist-packages (from pythainlp==1.7) (3.2.5)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from pythainlp==1.7) (2018.9)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from pythainlp==1.7) (4.41.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pythainlp==1.7) (1.12.0)
Requirement already satisfied: future>=0.16.0 in /usr/local/lib/python3.6/dist-packages (from pythainlp==1.7) (0.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pythainlp==1.7) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pythainlp==1.7) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pythainlp==1.7) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pythainlp==1.7) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pythainlp==1.7) (1.24.3)
Building wheels for collected packages: marisa-trie
  Building wheel for marisa-trie (setup.py) ... done
  Created wheel for marisa-trie: filename=marisa_trie-0.7.5-cp36-cp36m-linux_x86_64.whl size=862449 sha256=b68aa9b728884ec8f2b71fc93bb5f4a794793c7384179548934d63f421690c0d
  Stored in directory: /root/.cache/pip/wheels/45/24/79/022624fc914f0e559fe8a1141aaff1f9df810905a13fc75d57
Successfully built marisa-trie
Installing collected packages: marisa-trie, tinydb, conllu, pythainlp
Successfully installed conllu-3.0 marisa-trie-0.7.5 pythainlp-1.7.0 tinydb-4.1.1

In [29]:
import pythainlp

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package omw to /root/nltk_data...
[nltk_data]   Unzipping corpora/omw.zip.

In [33]:
pythainlp.sentiment("เช้านี้อากาศสดใส")

'pos'