<a href="https://colab.research.google.com/github/krmonline/Sentiment-Analysis-in-Social-Networks/blob/master/Facebook_Page_Access.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install facebook-sdk

Requirement already satisfied: facebook-sdk in /usr/local/lib/python3.6/dist-packages (3.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from facebook-sdk) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (1.24.3)

In [0]:
import facebook
import json
import pandas as pd

In [0]:
graph = facebook.GraphAPI(access_token="EAAHqDpf4q4ABAJTIu4ZBy9rHnJZCPQSTmCZANbqW8E3UVV2svK0lkfItoy3If6FZAN4wdw12j4mAeSeFBHw7ZADjhxLS3ZAJ7wzSt7RDu6QkaXKkeILeECU7k1iRUnZAjqbVGUgabJXGeSHhs9ED3iTpRdyik5Xs3gEqRI0fUHfcBW0ZCVyVduuPozNIFO0uXCeCHHLBpePsgQZDZD")

In [0]:
loop_count = 0
df_comments = pd.DataFrame(columns=['id','from','message'])
df = pd.DataFrame(columns=['id','created_time','message','comments'])
js = graph.get_object(id='me/posts',fields='message,story,created_time,id,comments')
while('paging' in js):
  loop_count = loop_count+1
  print(loop_count,end=" ")
  if 'next' in js['paging']:
    arr_page = {}
    for kv in js['paging']['next'].split("?")[1].split("&"):
      k,v = kv.split("=")
      arr_page[k] = v
    until = arr_page['until']
    js = graph.get_object(id='me/posts',fields='message,story,created_time,id,comments',until=until)
    dftmp = pd.DataFrame(js['data'],columns=['id','created_time','message','comments'])

    df = pd.concat([df,dftmp],ignore_index=True)
df

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

                                    id  ... comments
0    3249440901753063_3058965534133935  ...      NaN
1    3249440901753063_3057913487572473  ...      NaN
2    3249440901753063_3057789764251512  ...      NaN
3    3249440901753063_3051348831562272  ...      NaN
4    3249440901753063_3049868871710268  ...      NaN
..                                 ...  ...      ...
500      3249440901753063_224727733089  ...      NaN
501      3249440901753063_396722645127  ...      NaN
502      3249440901753063_233413932730  ...      NaN
503   3249440901753063_100112503352601  ...      NaN
504   3249440901753063_100107980019720  ...      NaN

[505 rows x 4 columns]

In [0]:
def getMIDfromDF(x):
  return x.split('_')[1]

In [0]:
df['mid'] = df.id.apply(getMIDfromDF)

In [0]:
df

                                    id  ...               mid
0    3249440901753063_3058965534133935  ...  3058965534133935
1    3249440901753063_3057913487572473  ...  3057913487572473
2    3249440901753063_3057789764251512  ...  3057789764251512
3    3249440901753063_3051348831562272  ...  3051348831562272
4    3249440901753063_3049868871710268  ...  3049868871710268
..                                 ...  ...               ...
500      3249440901753063_224727733089  ...      224727733089
501      3249440901753063_396722645127  ...      396722645127
502      3249440901753063_233413932730  ...      233413932730
503   3249440901753063_100112503352601  ...   100112503352601
504   3249440901753063_100107980019720  ...   100107980019720

[505 rows x 5 columns]

In [0]:
if len(df[df.comments.isna() == False]) > 0:
  for i in  df[df.comments.isna() == False].comments.values:
    text = i['data']
    dftmp_comments = pd.DataFrame(i['data'],columns=['id','from','message'])
    df_comments = pd.concat([df_comments,dftmp_comments],ignore_index=True)

In [0]:
df_comments

                                    id  ...                                            message
0    2164745816889249_2164799203550577  ...                                        555 ‡∏Ñ‡∏£‡∏±‡∏ö‡∏û‡∏µ‡πà
1    2164745816889249_2165217246842106  ...                                               ‡∏≠‡∏∑‡∏≠‡∏≠
2    2164504823580015_2167603746603456  ...               ‡πÇ‡∏´‡∏´‡∏´ ‡∏Ç‡∏≠‡∏ö‡∏Ñ‡∏∏‡∏ì‡∏Ñ‡∏£‡∏±‡∏ö Kankawin Kowsrihawat
3    2057217860975379_2057224364308062  ...                                              ‡∏£‡∏≤‡∏¢‡∏¢‡∏¢
4    2057217860975379_2057226877641144  ...                                      ‡πÑ‡∏î‡πâ‡πÄ‡∏£‡∏¢‡∏Ñ‡∏£‡∏±‡∏ö‡∏ö üòÜ
..                                 ...  ...                                                ...
209             171162409580943_267827  ...                                                 ‡∏Æ‡∏¥
210             170958396268011_267835  ...                                   ‡∏ä‡∏≠‡∏ö‡∏†‡∏≤‡∏û‡∏ô‡∏µ‡πâ‡∏°‡∏≤‡∏Å‡∏Ñ‡∏£‡∏±‡∏ö
211             170958396268011_292639  ...                               ‡πÅ‡∏ó‡πá‡∏Å ‡∏†‡∏≤‡∏û‡∏û‡∏µ‡πà‡∏≠‡∏≤‡∏£‡∏µ ‡∏Æ‡∏¥‡∏Æ‡∏¥
212             170942186269632_271772  ...                                      ‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡πÅ‡∏ï‡∏∞‡πÄ‡∏ô‡πâ‡∏≠
213              427392235645_16917986  ...  ‡πÄ‡∏û‡∏•‡∏á‡∏à‡πâ‡∏≤ ‡∏Ç‡∏≠‡∏á‡∏ß‡∏á jinx ‡∏ä‡∏≠‡∏ö‡∏°‡∏≤‡∏ô‡∏≤‡∏ô‡πÅ‡∏•‡πâ‡∏ß‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ ‡∏ö‡πà‡∏ô‡∏≠‡∏∞‡πÑ‡∏£‡πÄ‡∏ô‡πâ‡∏≠

[214 rows x 3 columns]

In [0]:
def getMID(x):
  return x.split('_')[0]
def getCID(x):
  return x.split('_')[1]
def getUserComment(x):
  return x['name']

In [0]:
df_comments['mid'] = df_comments.id.apply(getMID)
df_comments['cid'] = df_comments.id.apply(getCID)
df_comments['cname'] = df_comments['from'].apply(getUserComment)

In [0]:
df_comments.head()

                                  id  ...          cname
0  2164745816889249_2164799203550577  ...  Chakrit Phain
1  2164745816889249_2165217246842106  ...  Chakrit Phain
2  2164504823580015_2167603746603456  ...  Chakrit Phain
3  2057217860975379_2057224364308062  ...  Chakrit Phain
4  2057217860975379_2057226877641144  ...  Chakrit Phain

[5 rows x 6 columns]

In [0]:
df_result = pd.merge(df_comments,
                 df[['id','created_time','message','mid']],
                 on='mid', 
                 how='left')

In [0]:
df_result.drop(['from'],axis=1).to_csv('./result.csv')